## Run for single category_id

In [ ]:
import pandas as pd

# Assuming your data is in a CSV file named 'traffic_data.csv'
df = pd.read_csv('20-09-24.csv')

# Filter the data based on time range and category ID
start_time = '06:00:00:000'
end_time = '06:01:00:000'
category_id = 10

filtered_df = df[(df['time'] >= start_time) & (df['time'] <= end_time) & (df['category_id'] == category_id)]

# Count the number of rows in the filtered DataFrame
count = len(filtered_df)

print("Number of category 10 vehicles between", start_time, "and", end_time, ":", count)

Number of category 10 vehicles between 06:00:00:000 and 06:01:00:000 : 3

## chatgpt trial 2

In [ ]:
import pandas as pd

# Assuming your data is in a CSV file named '20-09-24.csv'
df = pd.read_csv('21-09_24.csv')

# Convert timestamp to datetime including milliseconds
# Update format to correctly interpret milliseconds
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S:%f')

# Create a new column for minute intervals
df['minute'] = df['time'].dt.strftime('%H:%M')

# Group by minute and category_id, then count
result = df.groupby(['minute', 'category_id']).size().reset_index(name='count')
#print(result)
# Fill in missing minutes and category IDs
# Generate all minute intervals
start_time = pd.to_datetime('06:00:00.000', format='%H:%M:%S.%f')  # Correct format
end_time = pd.to_datetime('11:29:59.999', format='%H:%M:%S.%f')  # Correct format
all_minutes = pd.date_range(start=start_time, end=end_time, freq='T').strftime('%H:%M')

# Generate all categories
categories = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

# Create a complete DataFrame of all combinations
complete_index = pd.MultiIndex.from_product([all_minutes, categories], names=['minute', 'category_id'])
#print(complete_index)
result = result.set_index(['minute', 'category_id']).reindex(complete_index, fill_value=0).reset_index()

# Rename columns for clarity
result.columns = ['minute', 'category_id', 'count']

# Display the result
#print(result)

# Optional: Save the result to a CSV file
#result.to_csv('minute_category_counts.csv', index=False)

<ipython-input-1-ddd97bd7c500>:20: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  all_minutes = pd.date_range(start=start_time, end=end_time, freq='T').strftime('%H:%M')

In [ ]:
import pandas as pd

# Load your CSV file
df = result

# Pivot the table to have one column per category
pivoted_df = df.pivot(index='minute', columns='category_id', values='count')

# Rename columns to match desired format (e.g., 'c1', 'c2', ..., 'c15', 'None')
pivoted_df.columns = [f'c{int(col)}' if col != 'None' else 'None' for col in pivoted_df.columns]

# Reset the index to make 'minute' a column again
pivoted_df.reset_index(inplace=True)

# Fill NaN values with 0 (optional, if there are any missing values)
pivoted_df.fillna(0, inplace=True)

# Save the result to a new CSV file
pivoted_df.to_csv('minute_category_pivoted.csv', index=False)

# Display the result
print(pivoted_df)

    minute  c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  c11  c12  c13  c14  c15  \
0    06:00   0   0   7   1   0   4   1   0   3    5    7    1    0    0    0
1    06:01   0   0   0   5   1   4   9   2   3    6    4    0    0    0    1
2    06:02   0   1   3   3   4   5   5   0   4    2    8    0    0    0    1
3    06:03   0   1   0   2   0   3   4   0   3    0    7    1    0    0    0
4    06:04   0   0   2   2   1   4   4   0   2    1    3    1    0    0    0
..     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
325  11:25   0   1   7   7  10   5   7   4   4    7    9    1    0    0    0
326  11:26   0   0   4  12   5  14  16   5  15    8    8    2    0    0    4
327  11:27   0   2   3   3   7  13   7   4  20    4   14    1    0    0    1
328  11:28   0   1   8  12   7   5  11   4  17    2    8    0    0    0    0
329  11:29   0   0   6   9   5   7   6   4   7    6    8    0    0    0    2

     c16
0      0
1      0
2      0
3      0
4      0
..   ...
325    0
326    0
327    0
328    0
329    0

[330 rows x 17 columns]

## modification

In [ ]:
import pandas as pd

# Assuming your data is in a CSV file named '20-09-24.csv'
df = pd.read_csv('21-09_24.csv')


# Convert timestamp to datetime including milliseconds
# Update format to correctly interpret milliseconds
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S:%f')

# Create a new column for minute intervals
df['minute'] = df['time'].dt.strftime('%H:%M')

# Group by minute and category_id, then count
result = df.groupby(['minute', 'category_id']).size().reset_index(name='count')
#print(result)
# Fill in missing minutes and category IDs
# Generate all minute intervals
start_time = pd.to_datetime('06:30:00.000', format='%H:%M:%S.%f')  # Correct format
end_time = pd.to_datetime('11:59:00.000', format='%H:%M:%S.%f')  # Correct format
all_minutes = pd.date_range(start=start_time, end=end_time, freq='T').strftime('%H:%M')

# Generate all categories
categories = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

# Create a complete DataFrame of all combinations
complete_index = pd.MultiIndex.from_product([all_minutes, categories], names=['minute', 'category_id'])
#print(complete_index)
result = result.set_index(['minute', 'category_id']).reindex(complete_index, fill_value=0).reset_index()

# Rename columns for clarity
result.columns = ['minute', 'category_id', 'count']

# Display the result
#print(result)

# Optional: Save the result to a CSV file
#result.to_csv('minute_category_counts.csv', index=False)

<ipython-input-2-f97c9383ff31>:21: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  all_minutes = pd.date_range(start=start_time, end=end_time, freq='T').strftime('%H:%M')

In [ ]:
import pandas as pd

# Load your CSV file
df = result

# Pivot the table to have one column per category
pivoted_df = df.pivot(index='minute', columns='category_id', values='count')

# Rename columns to match desired format (e.g., 'c1', 'c2', ..., 'c15', 'None')
pivoted_df.columns = [f'c{int(col)}' if col != 'None' else 'None' for col in pivoted_df.columns]

# Reset the index to make 'minute' a column again
pivoted_df.reset_index(inplace=True)

# Fill NaN values with 0 (optional, if there are any missing values)
pivoted_df.fillna(0, inplace=True)

# Save the result to a new CSV file
pivoted_df.to_csv('minute_category_pivoted.csv', index=False)

# Display the result
#print(pivoted_df)

In [ ]:
import pandas as pd

# Load your existing DataFrame
df = pd.read_csv('minute_category_pivoted.csv')

# Create a new column with the interval format
df['minute'] = pd.to_datetime(df['minute'], format='%H:%M')
df['interval'] = df['minute'].dt.strftime('%H:%M:%S') + '-' + (df['minute'] + pd.Timedelta(minutes=1)).dt.strftime('%H:%M:%S')

# Drop the old 'minute' column and rename 'interval' to 'minute' if desired
df.drop(columns=['minute'], inplace=True)
df.rename(columns={'interval': 'minute'}, inplace=True)

# Save the updated DataFrame to a new CSV
df.to_csv('29minute_category_with_intervals.csv', index=False)

# Display the updated DataFrame
print(df)

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  c11  c12  c13  c14  c15  c16  \
0     0   0   7   1   0   4   1   0   3    5    7    1    0    0    0    0
1     0   0   0   5   1   4   9   2   3    6    4    0    0    0    1    0
2     0   1   3   3   4   5   5   0   4    2    8    0    0    0    1    0
3     0   1   0   2   0   3   4   0   3    0    7    1    0    0    0    0
4     0   0   2   2   1   4   4   0   2    1    3    1    0    0    0    0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
325   0   1   4   5   6   3   5   3   2    2    5    0    0    0    0    0
326   0   0   3   6   3   7   8   4   7    7    5    1    0    0    1    0
327   0   1   2   3   3   5   4   3  14    1   10    1    0    0    0    0
328   0   1   4   8   3   2   8   3   8    1    1    0    0    0    0    0
329   0   0   5   4   4   3   2   3   3    2    5    0    0    0    1    0

                minute
0    06:30:00-06:31:00
1    06:31:00-06:32:00
2    06:32:00-06:33:00
3    06:33:00-06:34:00
4    06:34:00-06:35:00
..                 ...
325  11:55:00-11:56:00
326  11:56:00-11:57:00
327  11:57:00-11:58:00
328  11:58:00-11:59:00
329  11:59:00-12:00:00

[330 rows x 17 columns]

## TIme sorted

In [ ]:
import pandas as pd
df = pd.read_csv('19-09-24.csv')
df

,date,time,camera_no,track_id,direction,hour,category_id
0,9/19/2024,07:00:05:040,Cam1,1,DOWN,71,6.0
1,9/19/2024,07:00:05:600,Cam1,15,DOWN,71,10.0
2,9/19/2024,07:00:06:760,Cam1,6,DOWN,71,7.0
3,9/19/2024,07:00:07:360,Cam1,12,DOWN,71,11.0
4,9/19/2024,07:00:11:040,Cam1,8,DOWN,71,9.0
...,...,...,...,...,...,...,...
12499,9/19/2024,11:29:58:880,Cam1,13174,UP,113,4.0
12500,9/19/2024,11:30:00:080,Cam1,13169,UP,113,9.0
12501,9/19/2024,11:30:00:480,Cam1,13148,DOWN,113,15.0
12502,9/19/2024,11:30:01:440,Cam1,13176,DOWN,113,7.0
12503,9/19/2024,11:30:01:760,Cam1,13185,DOWN,113,11.0

In [ ]:
problem_cols = (df['hour'] % 10 == 3)
df['time'][problem_cols] = (df['time'][problem_cols].str.split(":").str[0]
                            + ":" + (df['time'][problem_cols].str.split(":").str[1].astype(int) + 30).astype(str)
                            + ":" + df['time'][problem_cols].str.split(":").str[2]
                            + ":" + df['time'][problem_cols].str.split(":").str[3])
df.to_csv('time_sorted.csv', index=False)

<ipython-input-49-ce69d52dee76>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['time'][problem_cols] = (df['time'][problem_cols].str.split(":").str[0]
<ipython-input-49-ce69d52dee76>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'][problem_cols] = (df['time'][problem_cols].str.split(":").str[0]

## 5 minute interval trial -1

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('21-09_24.csv')

# Convert the 'time' column to a proper datetime format
# Combine 'date' and 'time' for accurate datetime conversion
# Assuming the 'time' column format is 'hour:second:millisecond'
data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'], format='%m/%d/%Y %H:%M:%S:%f')

# Set datetime as the index for easier resampling
data.set_index('datetime', inplace=True)

# Group data into 5-minute intervals
five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().reset_index(name='total_vehicles')

# Rename the columns for clarity
five_minute_intervals.rename(columns={'datetime': 'time_interval', 'category_id': 'vehicle_category', 'total_vehicles': 'count'}, inplace=True)

# Save the result to a CSV file or display it
five_minute_intervals.to_csv('five_minute_vehicle_counts.csv', index=False)

print(five_minute_intervals.head())

        time_interval  vehicle_category  count
0 2024-09-21 06:30:00               2.0      2
1 2024-09-21 06:30:00               3.0     12
2 2024-09-21 06:30:00               4.0     13
3 2024-09-21 06:30:00               5.0      6
4 2024-09-21 06:30:00               6.0     20

<ipython-input-1-05cc196b18f1>:15: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().reset_index(name='total_vehicles')

## 5 minute interval trial -2

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('21-09_24.csv')

# Convert the 'time' column to a proper datetime format
# Combine 'date' and 'time' for accurate datetime conversion
# Assuming the 'time' column format is 'hour:second:millisecond'
data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'], format='%m/%d/%Y %H:%M:%S:%f')

# Set datetime as the index for easier resampling
data.set_index('datetime', inplace=True)

# Group data into 5-minute intervals and pivot table for category counts
five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().unstack(fill_value=0)

# Rename the index for clarity
five_minute_intervals.index = five_minute_intervals.index.strftime('%H:%M:%S - %H:%M:%S')

# Save the result to a CSV file or display it
five_minute_intervals.to_csv('five_minute_vehicle_counts_pivoted.csv')

print(five_minute_intervals.head())

category_id          1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   \
datetime
06:30:00 - 06:30:00     0     2    12    13     6    20    23     2    15
06:35:00 - 06:35:00     0     5    16    11     9    26    15     1    24
06:40:00 - 06:40:00     3     3    32    11    16    23    31     6    37
06:45:00 - 06:45:00     0     0    11    16    11    23    24     5    27
06:50:00 - 06:50:00     0     1    18    17    11    33    22     2    34

category_id          10.0  11.0  12.0  13.0  14.0  15.0
datetime
06:30:00 - 06:30:00    14    29     3     0     0     2
06:35:00 - 06:35:00    25    32     0     1     0     3
06:40:00 - 06:40:00    17    22     2     0     1     5
06:45:00 - 06:45:00    21    19     0     0     1     6
06:50:00 - 06:50:00    18    29     1     0     3    10

<ipython-input-2-605c09526fa8>:15: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().unstack(fill_value=0)

## 5 minute interval trial -3

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('21-09_24.csv')

# Convert the 'time' column to a proper datetime format
# Combine 'date' and 'time' for accurate datetime conversion
# Assuming the 'time' column format is 'hour:second:millisecond'
data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'], format='%m/%d/%Y %H:%M:%S:%f')

# Set datetime as the index for easier resampling
data.set_index('datetime', inplace=True)

# Group data into 5-minute intervals and pivot table for category counts
five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().unstack(fill_value=0)

# Format the index to display the time intervals in the desired format
formatted_intervals = [f"{interval.strftime('%H:%M')} - {(interval + pd.Timedelta(minutes=5)).strftime('%H:%M')}" for interval in five_minute_intervals.index]
five_minute_intervals.index = formatted_intervals

# Save the result to a CSV file or display it
five_minute_intervals.to_csv('five_minute_vehicle_counts_pivoted.csv')

print(five_minute_intervals.head())

category_id    1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  \
06:30 - 06:35     0     2    12    13     6    20    23     2    15    14
06:35 - 06:40     0     5    16    11     9    26    15     1    24    25
06:40 - 06:45     3     3    32    11    16    23    31     6    37    17
06:45 - 06:50     0     0    11    16    11    23    24     5    27    21
06:50 - 06:55     0     1    18    17    11    33    22     2    34    18

category_id    11.0  12.0  13.0  14.0  15.0
06:30 - 06:35    29     3     0     0     2
06:35 - 06:40    32     0     1     0     3
06:40 - 06:45    22     2     0     1     5
06:45 - 06:50    19     0     0     1     6
06:50 - 06:55    29     1     0     3    10

<ipython-input-3-6b3e9ab976b5>:15: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().unstack(fill_value=0)

## 5 minute interval trial  4

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('19-09-24.csv')

# Convert the 'time' column to a proper datetime format
# Combine 'date' and 'time' for accurate datetime conversion
# Assuming the 'time' column format is 'hour:second:millisecond'
data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'], format='%m/%d/%Y %H:%M:%S:%f')

# Set datetime as the index for easier resampling
data.set_index('datetime', inplace=True)

# Group data into 5-minute intervals and pivot table for category counts
five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().unstack(fill_value=0)

# Format the index to display the time intervals in the desired format
formatted_intervals = [f"{interval.strftime('%H:%M')} - {(interval + pd.Timedelta(minutes=5)).strftime('%H:%M')}" for interval in five_minute_intervals.index]
five_minute_intervals.index = formatted_intervals

# Add a new column 'Total' which is the summation of all category columns
five_minute_intervals['Total'] = five_minute_intervals.sum(axis=1)

# Save the result to a CSV file or display it
five_minute_intervals.to_csv('19five_minute_vehicle_counts_pivoted.csv')

print(five_minute_intervals.head())

category_id    1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0  10.0  11.0  12.0  \
07:00 - 07:05    0    3   18   14   12   19   18    6   28    26    44     1
07:05 - 07:10    0    0   11   13   10   18   24    5   21    24    37     5
07:10 - 07:15    1    2   25   18   12   26   21    4   22    22    33     3
07:15 - 07:20    0    3    5   15    8   17   25    3   39    18    45     2
07:20 - 07:25    0    4    9   23   32   28   18    3   35    12    45     1

category_id    13.0  14.0  15.0  Total
07:00 - 07:05     2     2     2    195
07:05 - 07:10     1     5     4    178
07:10 - 07:15     3     5     5    202
07:15 - 07:20     0     6     5    191
07:20 - 07:25     0     4     3    217

<ipython-input-1-cdc0488e9cda>:15: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  five_minute_intervals = data.groupby([pd.Grouper(freq='5T'), 'category_id']).size().unstack(fill_value=0)

# 12pm to 5 pm per minute interval

> Add blockquote

In [ ]:
import csv
from datetime import datetime, timedelta

# Define the start and end times
start_time = datetime.strptime("12:00:00", "%H:%M:%S")
end_time = datetime.strptime("17:00:00", "%H:%M:%S")

# Generate the time intervals
interval = timedelta(minutes=1)
time_intervals = []
current_time = start_time
while current_time < end_time:
    next_time = current_time + interval
    time_intervals.append(f"{current_time.strftime('%H:%M:%S')} - {next_time.strftime('%H:%M:%S')}")
    current_time = next_time

# Write to a CSV file
output_file = "time_intervals.csv"
with open(output_file, mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["Time Interval"])
    for interval in time_intervals:
        writer.writerow([interval])

print(f"CSV file '{output_file}' created successfully with time intervals.")

CSV file 'time_intervals.csv' created successfully with time intervals.

# 12pm to 5 pm per 5 minutes interval

In [ ]:
import csv
from datetime import datetime, timedelta

# Define the start and end times
start_time = datetime.strptime("12:00", "%H:%M")
end_time = datetime.strptime("17:00", "%H:%M")

# Open a CSV file to write the intervals
with open("time_intervals.csv", "w", newline="") as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(["Start-End Interval"])

    # Generate 5-minute intervals
    while start_time < end_time:
        interval_start = start_time
        interval_end = start_time + timedelta(minutes=5)
        csvwriter.writerow([f"{interval_start.strftime('%H:%M')} - {interval_end.strftime('%H:%M')}"])
        start_time = interval_end

print("CSV file 'time_intervals.csv' has been generated successfully.")

CSV file 'time_intervals.csv' has been generated successfully.